

.custom_background{
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/045/877/large_2x/fancy-bakery-shop-with-trees-and-bike-vector.jpg');
    background-size: cover;
    background-position: center;
}